.auth-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: $past-nav;

  .left-column {
    background-size: cover;
  }

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 240, 254);

    .auth-form-wrapper {
      @include input-element();
      @include base-grid();
      grid-gap: 1.25rem;
      padding: 2.75rem;

      .form-group {
        display: flex;

        input, input:-internal-autofill-selected, input:-webkit-autofill, input:autofill {
          padding: .4rem 1rem;
          font-family: "Capriola", sans-serif !important;
        }

        svg {
          font-size: 2rem;
          color: $text-teal;
          margin-right: 1rem;
        }
      }
    }
  }
}
