.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-container {
        background-color: $offwhite;
        padding: 0 3rem 3rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;

        .new-blog-link {
            margin: 0;
            margin-top: 3.5rem;
            a {
                color: $dark-teal;
                font-size: 1.3rem;
                border-bottom: .1rem dotted $dark-teal;

                &:hover {
                    color: $blue;
                    cursor: pointer;
                    border-bottom: .1rem dotted $blue;
                }
            }
        }

        a {
            text-decoration: none;
            color: $teal;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $dark-teal;
            }
        }

        h1 {
            margin-top: 3rem;
            font-size: 2.15rem;
            color: $teal;
        }

        .featured-image-wrapper {
            img {
                margin: 2rem 0 3rem;
                width: 100%;
                height: 26rem;
                border-radius: .5rem;
                object-fit: cover;
            }
        }

        .content {
            line-height: 1.5rem;
        }
    }
}

.blog-item-title {
    margin: 3rem 0 1rem 0;
    max-width: 77vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.blog-item-details {
    margin-left: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5rem;
}
