.blog-form-wrapper {
    @include base-grid();
    grid-template-columns: 1fr;
    padding: 1rem 1rem 0;

    @include input-element();
    input {
        margin-bottom: 0;
    }
    .image-and-button-wrap {
        height: 11.5rem;
        .btn {
            margin: 0;
            height: 2.25rem;
            width: 40%;
        }
        .image-uploaders {
            @include base-grid();
            height: 11.5rem;

            .blog-manager-image-wrapper {
                display:flex;
                flex-direction: column;
                align-items: center;
                .image-removal-link {
                    margin: .5rem;
                    color: $charcoal;
                    transition: 0.33s ease-in-out;

                    &:hover {
                        color: $warning;
                        cursor: pointer;

                    }
                }
                img {
                    width: 100%;
                    height: 11.5rem;
                    object-fit: cover;
                    border-radius: .5rem;
                }
            }
        }
    }
}
