.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-container {
        background-color: $offwhite;
        padding: 0 3rem 3rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;

        .new-blog-link {
            position: fixed;
            right: 0;
            margin: 3rem 11.5rem 0 0;
            a {
                color: $dark-teal;
                font-size: 3rem;
                cursor: pointer;

                &:hover {
                    color: $blue;
                }
            }
        }

        a {
            text-decoration: none;
            color: $teal;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $dark-teal;
            }
        }

        h1 {
            margin-top: 3rem;
            font-size: 2.15rem;
            color: $teal;
        }

        .featured-image-wrapper {
            img {
                margin: 2rem 0 3rem;
                width: 100%;
                height: 26rem;
                border-radius: .5rem;
                object-fit: cover;
            }
        }

        .content {
            line-height: 1.5rem;
        }
    }
}

.blog-item-title {
    margin: 3rem 0 1rem 0;
    max-width: 72vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.blog-item-details {
    color: $blue;
    width: 72vw;
    line-height: 1.5rem;
}
