textarea {
    border: 1px solid $teal;
    border-radius: 0.5rem;
    background-color: transparent;
    font-family: "Capriola", sans-serif;
    font-size: 1rem;
    height: 100px;
    outline: none;
    padding: 10px;
}

.select-element {
    border: 1px solid $teal;
    font-family: "Capriola", sans-serif;
    padding: .5rem;
    color: $charcoal;
    font-size: 1rem;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.dz-box {
    font-family: "Capriola", sans-serif;
    color: $charcoal;
}

option {
    background-color: $light-teal;
    color: $blue;
    &:hover {
        cursor: pointer !important;
    }
}
