.content-page-wrapper {
    width: 100vw;
    height: $past-nav;
    max-height: $past-nav;
    overflow: hidden;
}
.content-left-column {
    height: $past-nav;
    max-height: $past-nav;
    overflow: hidden;
}

.content-right-column {
    height: $past-nav;
    max-height: $past-nav;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    text-indent: 4vh;
    font-size: 2.2vmin;
    line-height: 3.25vmin;
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1, .contact-line {
        color: $charcoal;
        font-weight: 900;
    }

    h1 {
        padding-left: 1rem;
        font-size: 2.5rem;
    }
}

.contact-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .5rem;

    .icon {
        font-size: 2rem;
        color: $blue;
    }

    .icon, h2 {
        padding: 0 1rem;
    }

    h2 {
        line-height: 1.5rem;
    }
}

.external-link {
    .contact-line {
        .icon, h2 {

            text-decoration: underline $charcoal;
            transition: .3s ease-in-out;

        }
    }
    .contact-line:hover {
        .icon, h2 {

                color: $dark-teal;
                text-decoration: underline $dark-teal;
        }
    }
}
