.content-page-wrapper {
    width: 100vw;
    height: calc(100vh - 85px);
    overflow: none;
}
.content-left-column {
    height: calc(100vh - 85px);
    overflow: hidden;
}

.content-right-column {
    max-height: calc(100vh - 85px);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    text-indent: 1.5vw;
    font-size: 1.15rem;
    line-height: 1.5rem;
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1, .contact-line {
        color: $charcoal;
        font-weight: 900;
    }

    h1 {
        padding-left: 1rem;
        font-size: 2.5rem;
    }
}

.contact-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .5rem;

    .icon {
        font-size: 2rem;
        color: $blue;
    }

    .icon, h2 {
        padding: 0 1rem;
    }

    h2 {
        line-height: 1.5rem;
    }
}

.external-link {
    text-decoration: underline $charcoal;
}
