@media screen and (max-aspect-ratio: 1011/1000) {
    .carousel-root {

        .carousel {

            .thumbs-wrapper {
                .thumbs {
                    grid-template-columns: repeat(4, 7.5vw);
                    grid-auto-rows: 5.87vh;

                    .thumb {
                        max-width: 7.5vw;
                        max-height: 5.87vh;
                    }
                }
            }
        }
    }
}
