@media screen and (max-aspect-ratio: 1035/1000) {
    .nav-wrapper {
        margin: 5vw 0;
        .right-side {
            font-size: 6.5vw;
            line-height: 6.5vw;
            height: 6.5vw;
            max-height: 6.5vw;
            min-height: 6.5vw;
            gap: 3.5vw;
        }

        .left-side {
            height: 13.5vw;
            max-height: 13.5vw;
            min-height: 13.5vw;
            width: 100vw;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: auto auto auto auto;
            grid-auto-rows: 5vw;
            gap: 3.5vw 5vw;

            .nav-link-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;

                .nav-link {
                    font-size: 5vw;
                    line-height: 5vw;
                    min-height: 5vw;
                    max-height: 5vw;
                    text-align: center;

                }
            }

            .dynamic-nav-link-wrapper {
                grid-row: 2;
                grid-column: 1 / span 4;
                min-height: 5vw;
                max-height: 5vw;
                font-size:5vw;
                line-height: 5vw;
                text-align: center;
            }
        }

        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        height: 25vw;
    }

    .homepage-wrapper {

        .filter-buttons {
            width: calc(100vw - 1rem);
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
            margin: 0 .5rem .5rem;

            .btn {
                font-size: 5vw;
                margin: .75vw;
                width: auto;
            }
        }

        .portfolio-items-wrapper {
            grid-template-columns: 1fr 1fr;

            .portfolio-item-wrapper {

                .portfolio-img-background {
                    height: 28vh;
                }

                .img-text-wrapper {
                    .item-title-wrap {
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        .logo-wrapper .logo {
                            height: 8vmax;
                        }
                        .item-title {
                            font-size: 4vmax;

                        }
                    }
                    .subtitle {
                        font-size: 2.5vmax;
                    }
                }
            }
        }
    }

    .portfolio-detail-wrapper {
        height: calc(60vh + 19.5vw + 4rem);
        height: fit-content;

        .banner {
            height: 30vh;

            .logo {
                border-radius: 2rem;
                padding: 1.5vw;
            }
        }

        .portfolio-detail-description-wrapper {
            max-height: 19.5vw;
            .description {
                font-size: 5vw;
                line-height: 6.5vw;
                max-height: 19.5vw;
            }


        }
        .bottom-content-wrapper {
            width: 100%;
            height: 30vh;

            display: flex;
            justify-content: center;
            align-items: flex-start;

            .thumbnail-box {
                width: 90vw;
                height: 25vh;
                align-items: center;
                justify-content: center;
                border: .5rem solid black;
                border-radius: 1rem;
            }

            .site-link {
                padding: .75rem 1.5rem .8rem;
                margin: 0;
                text-decoration: none;
                text-transform: capitalize;
                filter: none;
                border-radius: 2vmin;
                box-shadow: 0 0 6rem rgb(0, 0, 0);
            }
        }
    }

    .carousel-root {

        .carousel-slider {
            min-height: 30vh;
        }
    }

    .container, .app-wrapper, .container-contents {
        overflow-y: visible;
        min-height: fit-content;
    }

    .content-page-wrapper, .two-column {
        overflow: visible;

        h1 {
            font-size: 5vw;
            line-height: 6vw;
        }

        .content-left-column {
            overflow: visible;
            min-width: 40vw;
            max-width: 40vw;
            min-height: 35vw;
            max-height: 35vw;
            margin-bottom: 0;
        }
        .content-right-column {
            overflow: visible;

            p {
                overflow: visible;
                text-indent: 6vw;
                font-size: 3.5vw;
                line-height: 5.75vw;
                margin: 2rem;
                letter-spacing: .05vw;
                word-spacing: .15vw;
            }
        }
    }

    .contact-page {
        padding-top: 2vh;
        min-width: 100vw;
        height: 100%;

        .content-left-column {
            min-width: 90vw;
            max-width: 90vw;
            height: 45vw;
            min-height: 45vw;
            max-height: 45vw;
        }
        .content-right-column {
            max-width: 100vw;
            min-width: 100vw;
            .contact-wrap {
                max-width: 100vw;
                gap: .5rem;

                h1 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                .contact-line {
                    width: max-content;
                    margin-left: 1vw;
                    h2 {
                        text-indent: 5vw;
                        font-size: 4vw;
                        line-height: 5vw;
                        margin: 0;
                    }

                    .icon {
                        text-indent: 5vw;
                        padding: 0;
                    }
                }
            }
        }
    }
}
