@media screen and (max-aspect-ratio: 757/1000) {
    .homepage-wrapper {

        .portfolio-items-wrapper {
            grid-template-columns: 1fr;

            .portfolio-item-wrapper {

                .portfolio-img-background {
                    height: 25vh;
                    width: 100vw;
                }

                .img-text-wrapper {
                    min-width: 100vw;
                    max-width: 100vw;
                    .item-title-wrap {
                        gap:0;

                        .logo-wrapper .logo {
                            height: 16vw;
                        }

                        .item-title {
                            font-size: 5.5vw;

                        }
                    }

                    .subtitle {
                        width: 80vw;
                        font-size: 3.5vw;
                    }
                }
            }
        }
    }

    .contact-page {
        overflow: hidden;
        display: flex;
        height: calc(99vh - 35vw);
        flex-direction: column;

        .content-left-column {
            flex: 1;
            max-height: 100%;
        }
        .content-right-column {
            max-width: 100vw;
            min-width: 100vw;
            max-height: fit-content;
            flex: 0;
            // max-height: 70vw;
            // min-height: 50vw;
            // height: 60vw;
            .contact-wrap {
                max-height: fit-content;
                max-width: 100vw;
                gap: .5rem;

                h1 {
                    margin: 1vh 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                .contact-line {
                    width: max-content;
                    margin-left: 1vw;
                    h2 {
                        text-indent: 5vw;
                        font-size: 4vw;
                        line-height: 5vw;
                        margin: 0;
                    }

                    .icon {
                        text-indent: 5vw;
                        padding: 0;
                    }
                }
            }
        }
    }
}
