@media screen and (max-aspect-ratio: 757/1000) {
    .homepage-wrapper {

        .portfolio-items-wrapper {
            grid-template-columns: 1fr;

            .portfolio-item-wrapper {

                .portfolio-img-background {
                    height: 23vh;
                    width: 100vw;
                }

                .img-text-wrapper {
                    min-width: 100vw;
                    max-width: 100vw;
                    .item-title-wrap {

                        .logo-wrapper .logo {
                            height: 8vmax;
                        }

                        .item-title {
                            font-size: 4vmax;

                        }
                    }

                    .subtitle {
                        width: 80vw;
                        font-size: 2.5vmax;
                    }
                }
            }
        }
    }
}
