@media screen and (max-aspect-ratio: 1205/1000) {

    .content-page-wrapper {
        .content-right-column {

            p {
                font-size: 2.25vh;
                line-height: 3.3vh;
                margin: 2rem;
            }
        }
    }
}
