@media screen and (max-aspect-ratio: 700/1000) {
    // .carousel-root {

    //     .carousel {

    //         .thumbs-wrapper {
    //             transform: translate(-33.5vw, 128vw);
    //         }
    //     }
    // }

    .portfolio-detail-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;

        .bottom-content-wrapper {
            // height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .thumbnail-box {
                flex: 1;
                margin-bottom: 1vh;
            }
        }
    }

    .homepage-wrapper {

        .portfolio-items-wrapper {
            .portfolio-item-wrapper {
                .img-text-wrapper {
                    .item-title-wrap {
                        .item-title {
                            font-size: 5.5vw;
                        }
                    }
                }
            }
        }
    }
}
