@media screen and (max-aspect-ratio: 1130/1000) {
    .carousel-root {

        .carousel {

            .thumbs-wrapper {
                .thumbs {
                    grid-template-columns: repeat(5, calc((96.25vw - 66vmin)/5));
                    grid-auto-rows: 7.33vh;

                    .thumb {
                        max-width: calc((96.25vw - 66vmin)/5);
                        min-width: calc((96.25vw - 66vmin)/5);
                        max-height: 7.33vh;
                    }
                }
            }
        }
    }
}
