@media screen and (max-aspect-ratio: 1500/1000) {
    .carousel-root {

        .carousel {

            .thumbs-wrapper {
                .thumbs {
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: repeat(8, 11vh);

                    .thumb {
                        max-height: 11vh;
                    }

                    .selected {
                        border: .4rem solid $blue;
                    }
                }
            }
        }
    }
}
