@media screen and (max-aspect-ratio: 1450/1000) {
    .portfolio-items-wrapper {

        .portfolio-item-wrapper {

            .img-text-wrapper {

                .item-title-wrap {
                    flex-direction: column;
                    gap: 1.25vmax;

                    .item-title {
                        font-size: 2.25vmax;
                    }

                    .logo-wrapper {
                        .logo {
                            height: 6.5vmax;
                            padding: .75vmax;
                        }
                    }
                }
            }
        }
    }
    .nav-wrapper {

        .right-side {
            font-size: 2vmax;
            line-height: 2vmax;
        }
        .nav-link-wrapper {

            .nav-link {
                font-size: 2vmax;
                line-height: 2vmax;
            }
        }
    }

    .filter-buttons{
        .btn {
            font-size: 2vmax;
        }
    }
}
