.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  .right-side {
    a {
      margin-left: 1rem;
      cursor: pointer;
      color: $teal;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $blue;
      }
    }
  }

  .left-side {
    display: flex;
  }

  .nav-link-wrapper {
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    margin-right: 1.25rem;
    text-transform: uppercase;

    a {
      color: $grey;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }

    &:hover {
      border-bottom: 1px solid black;
    }

    .nav-link-active {
      border-bottom: 1px solid black;
      color: black;
    }
  }
}
