.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2rem;


  .right-side {
    display: flex;
    line-height: 1.75rem;
    font-size: 1.75rem;
    a {
      margin-left: 1rem;
      cursor: pointer;
      color: $text-teal;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $blue;
      }
    }
  }

  .left-side {
    display: flex;
  }

  .left-side, .right-side {
    height: 1.75rem;
    max-height: 1.75rem;
    min-height: 1.75rem;
    align-items: center;
  }

  .nav-link-wrapper {

    margin-right: 1.25rem;
    text-transform: uppercase;

    a {
      color: $grey;
      text-decoration: none;
      &:hover {
        color: $dark-teal;
      }
    }


    .nav-link {
      font-size: 1.5rem;
      line-height: 1.5rem;
      border-bottom: .2rem solid transparent;

      &:hover {
        border-bottom: .2rem solid $dark-teal;
      }
    }

    .nav-link-active {
      border-bottom: .2rem solid black;
      color: black;
      cursor: default;

      &:hover {
        border-bottom: .2rem solid black;
        color: black;
      }
    }
  }
}
