.portfolio-form-wrapper {
    @include base-grid();
    grid-template-columns: 1fr;
    padding: 2.75rem;

    @include input-element();
    input {
        margin-bottom: 0px;
    }

    .image-uploaders {
        @include base-grid();
        grid-gap: 1.5rem;
        height: 11.5rem;

        .portfolio-manager-image-wrapper {
            display:flex;
            flex-direction: column;
            align-items: center;
            .image-removal-link {
                margin: .5rem;
                color: $charcoal;
                transition: 0.33s ease-in-out;

                &:hover {
                    color: $warning;
                    cursor: pointer;

                }
            }
            img {
                width: 100%;
                height: 10rem;
                object-fit: cover;
                border: .1rem solid transparent;
                border-radius: 1rem;
            }
        }
    }
}
div.filepicker, div.dropzone, div.dz-box, div.dz-clickable{
    padding: 0;
    background-color: $light-teal;
    height: 11.5rem;
    border: .1rem dotted $blue;
    border-radius: 1rem;
}
.dz-message {
    color: $blue;
    font-size: 1.1 rem;
    text-align: center;
}
div.filepicker-file-icon {
    margin: 3.25rem .5rem 2rem;
}
div.filepicker-file-icon::before {
    border: 2px solid $blue;
    border-radius: .4rem;
    background-color: $teal;
    height: 2.8rem;
    width: 2.25rem;
}
div.filepicker-file-icon::after {
    top: 0;
    left: 0;
    border: 2px solid $charcoal;
    width: 2.5rem;
    padding: 2px 0 2px;
    text-align: center;
    border-radius: .25rem;
    font-family: "Capriola", sans-serif;
    font-size: .8rem;
    color: $offwhite;
    background-color: $blue;
}
.portfolio-submit {
    width: 20%;
}
