.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .portfolio-item-wrapper {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 350px;
      width: 100%;
    }

    .img-text-wrapper {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      padding-left: 100px;
      padding-right: 100px;

      .subtitle {
        padding-left: 2rem;
        transition: 1s ease-in-out;
        color: $teal;
        opacity: 0%;
      }
    }

    .img-text-wrapper:hover .subtitle {
      opacity: 100%;
      font-weight: 400;
    }

    .logo-wrapper img {
      width: 145px;
    }
  }
}

.image-blur {
  transition: 1s;
  filter: brightness(35%);
}
.filter-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .btn {
    margin: 0 0 .75rem;
    width: 24vw;
  }
}
