.carousel-root {
    max-height: $past-nav;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .carousel {
        position: absolute;
        right: 1.25vw;
        width: calc(96.25vw - 66vmin);
        max-height: 88vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .control-dots {
            display: none;
        }

        .carousel-status {
            display: none;
        }

        .thumbs-wrapper {
            max-height: 88vh;
            padding: 0;
            margin: 0;
            .thumbs {
                margin: 0;
                padding: 0;
                display: grid;
                width: calc(96.25vw - 66vmin);
                max-height: 88vh;
                grid-template-columns: repeat(9, calc((96.25vw - 66vmin)/9));
                grid-auto-rows: 12.5vh;
                transform: none !important;
                justify-content: center;
                align-items: center;

                .thumb {
                    max-height: 12.5vh;
                    max-width: calc((96.25vw - 66vmin)/9);
                    min-width: calc((96.25vw - 66vmin)/9);
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1rem;
                    padding: 0;

                }
                .selected {
                    box-shadow: inset 0 0 0 1rem $blue;
                    border: .4rem solid $blue;
                    padding: 0;
                    margin: 0;
                    background-color: $blue;
                }
            }
        }
    }


    .carousel-slider {
        left: 1.25vw;
        width: 35.75vw;
        max-height: 88vh;
        border-radius: 2rem;

        button {
            opacity: 0%;
        }
    }

    .control-arrow, .control-prev, .control-next {
        color: rgba(0,0,0,0);
        background-color: rgba(0,0,0,0);
        opacity: 0%;
    }
    .control-arrow:before, .control-prev:before, .control-next:before, .control-arrow:after, .control-prev:after, .control-next:after {
        color: rgba(0,0,0,0);
        background-color: rgba(0,0,0,0);
        opacity: 0%;
    }

    [aria-label], [aria-label]:before, [aria-label]:after, [aria-label]:active, [aria-label]:focus, [aria-label]:visited, [aria-label]:focus-visible {
        background-color: rgba(0,0,0,0) !important;
        color: rgba(0,0,0,0) !important;
    }

}
