.carousel-root {
    max-height: calc(100vh - (5.75rem));
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .carousel {
        position: absolute;
        right: 0;
        width: calc(100vw - 66vh);
        // height: calc(100vh - (5.75rem));
        max-height: 88vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .control-dots {
            display: none;
        }

        .carousel-status {
            display: none;
        }

        .thumbs-wrapper {
            max-height: 88vh;
            // min-height: rem));
            // height: calc(100vh - (5.75rem));
            padding: 0;
            margin: 0;
            .thumbs {
                margin: 0;
                padding: 0;
                display: grid;
                width: 64vw;
                max-height: 88vh;
                // min-height: calc(100vh - (5.75rem));
                grid-template-columns: repeat(9, 6.5vw);
                grid-template-rows: repeat(7, 12.5vh);
                transform: none !important;
                justify-content: center;
                align-items: center;

                .thumb {
                    max-height: 12.5vh;
                    max-width: 6.5vw;
                    // min-height: 12.5vh;
                    min-width: 6.5vw;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border: .25rem solid black;
                    border-radius: 1rem;
                    padding: 0;

                }
                .selected {
                    background-color: $blue;
                    border: .2rem solid $blue;
                    padding: -0.2rem;
                }
            }
        }
    }


    .carousel-slider {
        left: 1.25vw;
        width: 35.75vw;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        max-height: 88vh;
        border-radius: 2rem;

        button {
            opacity: 0%;
        }
    }

    .control-arrow, .control-prev, .control-next {
        color: rgba(0,0,0,0);
        background-color: rgba(0,0,0,0);
        opacity: 0%;
        // visibility: hidden;
    }
    .control-arrow:before, .control-prev:before, .control-next:before, .control-arrow:after, .control-prev:after, .control-next:after {
        color: rgba(0,0,0,0);
        background-color: rgba(0,0,0,0);
        opacity: 0%;
        // visibility: hidden;
    }


}
[aria-label], [aria-label]:before, [aria-label]:after, [aria-label]:active, [aria-label]:focus, [aria-label]:visited, [aria-label]:focus-visible {
    background-color: rgba(0,0,0,0) !important;
    color: rgba(0,0,0,0) !important;
}
