$warning: rgb(255, 91, 219);
$cream: rgb(255, 215, 169);
$offwhite: rgb(255, 252, 217);
$pink: rgb(0, 225, 255);
$light-teal: rgb(180, 255, 218);
$teal: rgb(0, 255, 213);
$dark-teal: rgb(0, 171, 194);
$blue: rgb(130, 85, 255);
$charcoal: rgb(66, 69, 74);
$grey: rgb(138, 138, 138);
$test: rgb(164, 52, 255);
