$warning: rgb(255, 91, 219);
$cream: rgb(255, 215, 169);
$offwhite: #fffcd9;
$light-teal: rgb(180, 255, 218);
$teal: #26d4b7;
$dark-teal: rgb(0, 171, 194);
$blue: #8255ff;
$charcoal: #42454a;
$grey: #8a8a8a;
